.navContainer{
    position: fixed;
    top: 0px;
    z-index: 999;
    width: 100%;
    background-color: black;
}

.logo{
    width: 110px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    padding-top: 20px;
}
.btn-nav{
    margin-left: 12px;
    background-color: white;
    padding: 6px 15px;
    border-radius: 8px;
}

@media(max-width: 990px){
    .btn-nav{
        margin-left: 0px;
    }
}